# course  details

In [7]:

course = 4

#online (1) or offline (0)
connection = 0

# for online connections you have the option to download all course data to the computer.
# download(1) skip_download(0)
download_csv = 0

# Times should be in US/East local time
class_start = '2021-04-20'
class_end   = '2021-04-22'

#input your student device name
device_name = 'Guthrum'

#status
print('Global Variables Set')

Global Variables Set

# configuration setup for the notebook libraries and Methods

In [69]:
#import libraries, functions, methods, configurations
%run studentConfig.py

#status
print('Config Successful')

Module Import Completed
Config Successful

# read your data into a pandas dataframe

In [17]:
print("offline notebook use. Reading data from local .csv file....")
filePath = "appIOTcourse_%s_allStudent_data.csv" % course

all_classData = pd.read_csv(f"{filePath}", low_memory=False)

#inspect the schema
all_classData.info()

offline notebook use. Reading data from local .csv file....
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200085 entries, 0 to 200084
Data columns (total 42 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  200085 non-null  int64
 1   dtg                 200085 non-null  object
 2   name                200085 non-null  object
 3   uuid                200085 non-null  object
 4   source              200085 non-null  object
 5   lat                 200085 non-null  float64
 6   lon                 200085 non-null  float64
 7   unix_timestamp      200085 non-null  int64
 8   utc_ts              200085 non-null  object
 9   localized_ts        200085 non-null  object
 10  tzID                200085 non-null  object
 11  platform_country    0 non-null       float64
 12  platform_bandwidth  0 non-null       float64
 13  accuracy            200085 non-null  float64
 14  gps_speed           200085 non-null  float64
 15  ipv_4               0 non-null       float64
 16  carrier             0 non-null       float64
 17  user_agent          0 non-null       float64
 18  make                0 non-null       float64
 19  model               0 non-null       float64
 20  device              0 non-null       float64
 21  platform_os         0 non-null       float64
 22  app_id              0 non-null       float64
 23  publisher_id        0 non-null       float64
 24  place_id            0 non-null       float64
 25  place_name          0 non-null       float64
 26  category            0 non-null       float64
 27  gps_src             0 non-null       float64
 28  app                 0 non-null       float64
 29  datasrc_id          0 non-null       float64
 30  publisher           0 non-null       float64
 31  keywords            0 non-null       float64
 32  altitude            200085 non-null  float64
 33  speed               200085 non-null  float64
 34  latLon_string       21863 non-null   object
 35  valid               21863 non-null   object
 36  type                178222 non-null  object
 37  ssid                45061 non-null   object
 38  mac                 178222 non-null  object
 39  rssi                178222 non-null  float64
 40  channel             178222 non-null  float64
 41  authMode            178134 non-null  object
dtypes: float64(27), int64(2), object(13)
memory usage: 64.1+ MB

## format for time

In [34]:
#format date columns
all_classData['utc_ts'] = all_classData['utc_ts'].astype(str)
all_classData['utc_ts'] =  pd.to_datetime(all_classData['utc_ts'].str.strip(), errors='coerce', utc = True)
#add time zone id
all_classData['tzID'] = 'US/Eastern'
all_classData['localized_ts'] = all_classData['utc_ts'].dt.tz_convert('US/Eastern')
all_classData['dtg'] = all_classData['localized_ts'].dt.date
all_classData['dtg'] = pd.to_datetime(all_classData['dtg'])
all_classData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200085 entries, 0 to 200084
Data columns (total 42 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  200085 non-null  int64
 1   dtg                 200085 non-null  datetime64[ns]
 2   name                200085 non-null  object
 3   uuid                200085 non-null  object
 4   source              200085 non-null  object
 5   lat                 200085 non-null  float64
 6   lon                 200085 non-null  float64
 7   unix_timestamp      200085 non-null  int64
 8   utc_ts              200085 non-null  datetime64[ns, UTC]
 9   localized_ts        200085 non-null  datetime64[ns, US/Eastern]
 10  tzID                200085 non-null  object
 11  platform_country    0 non-null       float64
 12  platform_bandwidth  0 non-null       float64
 13  accuracy            200085 non-null  float64
 14  gps_speed           200085 non-null  float64
 15  ipv_4               0 non-null       float64
 16  carrier             0 non-null       float64
 17  user_agent          0 non-null       float64
 18  make                0 non-null       float64
 19  model               0 non-null       float64
 20  device              0 non-null       float64
 21  platform_os         0 non-null       float64
 22  app_id              0 non-null       float64
 23  publisher_id        0 non-null       float64
 24  place_id            0 non-null       float64
 25  place_name          0 non-null       float64
 26  category            0 non-null       float64
 27  gps_src             0 non-null       float64
 28  app                 0 non-null       float64
 29  datasrc_id          0 non-null       float64
 30  publisher           0 non-null       float64
 31  keywords            0 non-null       float64
 32  altitude            200085 non-null  float64
 33  speed               200085 non-null  float64
 34  latLon_string       21863 non-null   object
 35  valid               21863 non-null   object
 36  type                178222 non-null  object
 37  ssid                45061 non-null   object
 38  mac                 178222 non-null  object
 39  rssi                178222 non-null  float64
 40  channel             178222 non-null  float64
 41  authMode            178134 non-null  object
dtypes: datetime64[ns, US/Eastern](1), datetime64[ns, UTC](1), datetime64[ns](1), float64(27), int64(2), object(10)
memory usage: 64.1+ MB

# inspect your dataframe with Kepler.go

In [35]:
# format dataframe for plotting
plotAll = all_classData.copy(deep=True)

# plot the data
map_1 = KeplerGl(height=525)
map_1.add_data(data=plotAll, name='all_data')
map_1.config = config1
map_1

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [], 'layers': [{'id': 'euwj4t8', 'type': …

# Query for your device mobile ID by the device's name

In [36]:
# lookup the mid based upon the name of the student's device
#check if online or offline mode
if connection == 1:
    #online
    mid = get_mid(device_name,course)
    print("Student mid (online):")
    print(mid)
elif connection == 0:
    #offline
    mask = offline_lookup['name'] == device_name
    row = offline_lookup.loc[mask]
    mid = row.iloc[0]['udid']
    print("Student mid (offline):")
    print(mid)
else:
    #user entry error
    print("connection selection is invalid")

Student mid (offline):
22c07d36-5d29-4064-a3d7-f9019cd27cea

# Query for your data by the mobile ID (UUID)

In [38]:
#display student device data by the mid associated with the device global varible
# The results should be the same as the previous command
mask = all_classData['uuid'] == mid
yourData = all_classData.loc[mask]

print(f"Your devices mid is: {mid}")
yourData.head(3)

Your devices mid is: 22c07d36-5d29-4064-a3d7-f9019cd27cea

,id,dtg,name,uuid,source,lat,lon,unix_timestamp,utc_ts,localized_ts,tzID,platform_country,platform_bandwidth,accuracy,gps_speed,ipv_4,carrier,user_agent,make,model,device,platform_os,app_id,publisher_id,place_id,place_name,category,gps_src,app,datasrc_id,publisher,keywords,altitude,speed,latLon_string,valid,type,ssid,mac,rssi,channel,authMode
0,1778,2021-04-20,Guthrum,22c07d36-5d29-4064-a3d7-f9019cd27cea,app,38.916472,-77.226884,1618891247,2021-04-20 04:00:47+00:00,2021-04-20 00:00:47-04:00,US/Eastern,NaN,NaN,13.047,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,137.9,0.4,"38.916472, -77.226885",True,NaN,NaN,NaN,NaN,NaN,NaN
1,1779,2021-04-20,Guthrum,22c07d36-5d29-4064-a3d7-f9019cd27cea,app,38.916475,-77.226873,1618891307,2021-04-20 04:01:47+00:00,2021-04-20 00:01:47-04:00,US/Eastern,NaN,NaN,12.833,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,137.9,0.0,"38.916475, -77.226873",True,NaN,NaN,NaN,NaN,NaN,NaN
2,1780,2021-04-20,Guthrum,22c07d36-5d29-4064-a3d7-f9019cd27cea,app,38.916474,-77.226872,1618891367,2021-04-20 04:02:47+00:00,2021-04-20 00:02:47-04:00,US/Eastern,NaN,NaN,12.836,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,137.8,0.1,"38.916474, -77.226872",True,NaN,NaN,NaN,NaN,NaN,NaN

# Let's look at the IoT details captured for you device

In [55]:
#display student device IoT by the device_name global varible
mask = yourData['source'] == 'iot'
yourIOT = yourData.loc[mask]
yourIOT = yourIOT.reset_index()
print(f"IOT Collections on device: {device_name}") 
yourIOT.head(3)

IOT Collections on device: Guthrum

,index,id,dtg,name,uuid,source,lat,lon,unix_timestamp,utc_ts,localized_ts,tzID,platform_country,platform_bandwidth,accuracy,gps_speed,ipv_4,carrier,user_agent,make,model,device,platform_os,app_id,publisher_id,place_id,place_name,category,gps_src,app,datasrc_id,publisher,keywords,altitude,speed,latLon_string,valid,type,ssid,mac,rssi,channel,authMode
0,21863,23641,2021-04-20,Guthrum,22c07d36-5d29-4064-a3d7-f9019cd27cea,iot,38.916477,-77.226865,1618932008,2021-04-20 15:20:08+00:00,2021-04-20 11:20:08-04:00,US/Eastern,NaN,NaN,117.920006,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110.818359,0.0,NaN,NaN,wifi,coxwifi,78:45:61:ab:4d:16,-41.0,11.0,[ess]
1,21864,23642,2021-04-20,Guthrum,22c07d36-5d29-4064-a3d7-f9019cd27cea,iot,38.916477,-77.226865,1618932008,2021-04-20 15:20:08+00:00,2021-04-20 11:20:08-04:00,US/Eastern,NaN,NaN,117.920006,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110.818359,0.0,NaN,NaN,wifi,ssid6-2.4,78:45:61:ab:4d:13,-41.0,11.0,[ess]
2,21865,23643,2021-04-20,Guthrum,22c07d36-5d29-4064-a3d7-f9019cd27cea,iot,38.916477,-77.226865,1618932008,2021-04-20 15:20:08+00:00,2021-04-20 11:20:08-04:00,US/Eastern,NaN,NaN,117.920006,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110.818359,0.0,NaN,NaN,wifi,ssid4-2.4,78:45:61:ab:4d:12,-41.0,11.0,[ess]

# Let's Look at the APP data

In [56]:
#display student device IoT by the device_name global varible
mask = yourData['source'] == 'app'
yourAPP = yourData.loc[mask]
yourAPP = yourAPP.reset_index()
yourAPP = yourAPP.iloc[:,0:13]
print(f"First party APP collections on device: {device_name}") 
yourAPP.head(3)

First party APP collections on device: Guthrum

,index,id,dtg,name,uuid,source,lat,lon,unix_timestamp,utc_ts,localized_ts,tzID,platform_country
0,0,1778,2021-04-20,Guthrum,22c07d36-5d29-4064-a3d7-f9019cd27cea,app,38.916472,-77.226884,1618891247,2021-04-20 04:00:47+00:00,2021-04-20 00:00:47-04:00,US/Eastern,NaN
1,1,1779,2021-04-20,Guthrum,22c07d36-5d29-4064-a3d7-f9019cd27cea,app,38.916475,-77.226873,1618891307,2021-04-20 04:01:47+00:00,2021-04-20 00:01:47-04:00,US/Eastern,NaN
2,2,1780,2021-04-20,Guthrum,22c07d36-5d29-4064-a3d7-f9019cd27cea,app,38.916474,-77.226872,1618891367,2021-04-20 04:02:47+00:00,2021-04-20 00:02:47-04:00,US/Eastern,NaN

## Plot your app data

In [57]:
# plot the data
map_2 = KeplerGl(height=525)
map_2.add_data(data=yourAPP, name='yourApp_data')
map_2.config = config_yourData
map_2

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [], 'layers': [{'id': 'o12ushs', 'type': …

# filter your data by velocity

In [60]:
# get dataframe to work on
df = yourAPP.copy(deep=True)

#add a unique ID to dataframe for testing or joining with other dataframes
df.insert(0, 'num', range(0, 0 + len(df)))

#work with time to get the tdoa value in sec and convert it to hours
df['time_delta'] = df.sort_values(['name','utc_ts']).groupby('name')['utc_ts'].diff()
df['time_delta_seconds'] = (df['time_delta'].dt.total_seconds())
df['time_delta_seconds'] = df['time_delta_seconds'].fillna(0)
df['time_delta_hours'] = df['time_delta_seconds'] / 3600
# make the first point (start point of the journey) 0 since it will be a nan
df['time_delta_hours'] = df['time_delta_hours'].fillna(0)
#clean up NaT because kepler does not like NaT when you plot
df.drop('time_delta', axis=1, inplace=True)

# vectorized haversine function
def haversine(lat1, lon1, lat2, lon2, to_radians=True, earth_radius=6371):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees or in radians)

    All (lat, lon) coordinates must have numeric dtypes (float)

    """
    if to_radians:
        lat1, lon1, lat2, lon2 = np.radians([lat1, lon1, lat2, lon2])

    a = np.sin((lat2-lat1)/2.0)**2 + \
        np.cos(lat1) * np.cos(lat2) * np.sin((lon2-lon1)/2.0)**2

    return earth_radius * 2 * np.arcsin(np.sqrt(a))

#shift df and add a coloumn for the original value of lat and lon
df['orig_lat'] = df.groupby(['name'])['lat'].transform(lambda x:x.shift())
df['orig_lon'] = df.groupby(['name'])['lon'].transform(lambda x:x.shift())
df['dist_km'] = haversine(df['lat'], df['lon'], df['orig_lat'], df['orig_lon'])
# make the first point (start point of the journey) 0 since it will be a NAT
df['dist_km'] = df['dist_km'].fillna(0)
df['dist_miles']=df['dist_km']/1.609
#obtain the velocity
df['velocity_kmph'] = (df['dist_km'] / df['time_delta_hours']).fillna(0)
df['velocity_mph'] = (df['dist_miles'] / df['time_delta_hours']).fillna(0)
#clean temp columns for lat / lon orininals
#df.drop('orig_lat', axis=1, inplace=True)
#df.drop('orig_lon', axis=1, inplace=True)

filter = df[(df.velocity_mph <11)]                             #<------------------------Velocity limit goes here (11)
map_1 = KeplerGl(height=525)
map_1.add_data(data=filter, name='all_data')
map_1.config = config1
map_1

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [], 'layers': [{'id': 'euwj4t8', 'type': …

In [61]:
#filter out your velocity over a certain velocity range
filter = df[(df.velocity_mph >35) & (df.velocity_mph <65)]

# plot the data
map_2 = KeplerGl(height=525)
map_2.add_data(data=filter, name='filter_mph')
map_2.config = config_yourData
map_2

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [], 'layers': [{'id': 'o12ushs', 'type': …

# Inspect your data by source type

In [62]:
# plot the data
map_2 = KeplerGl(height=525)
map_2.add_data(data=yourAPP, name='app_data')
map_2.add_data(data=yourIOT, name='IOT_data')
map_2.config = config_yourData
map_2

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [], 'layers': [{'id': 'o12ushs', 'type': …

# Section 2 | Data Reduction and Visualization Based on DataTime

In [63]:
#Set DateTime Range to Align with Exercise or Short Time Window of Interest
time1 = '2021-04-20 08:05:49+00:00'
time2 = '2021-04-20 08:06:51+00:00'

#Get Dataframoe to work on and set ts column to utc time
plotWindow = yourData.copy(deep=True)

#Filter the DateTime Range
mask = (plotWindow['localized_ts'] > time1) & (plotWindow['localized_ts'] < time2) 
#Run query
filtered_data = plotWindow.loc[mask]
filtered_data.head(10)

,id,dtg,name,uuid,source,lat,lon,unix_timestamp,utc_ts,localized_ts,tzID,platform_country,platform_bandwidth,accuracy,gps_speed,ipv_4,carrier,user_agent,make,model,device,platform_os,app_id,publisher_id,place_id,place_name,category,gps_src,app,datasrc_id,publisher,keywords,altitude,speed,latLon_string,valid,type,ssid,mac,rssi,channel,authMode
228,2006,2021-04-20,Guthrum,22c07d36-5d29-4064-a3d7-f9019cd27cea,app,38.916472,-77.226873,1618905976,2021-04-20 08:06:16+00:00,2021-04-20 04:06:16-04:00,US/Eastern,NaN,NaN,12.833,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,137.8,0.1,"38.916472, -77.226873",True,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
# plot the data
map_2 = KeplerGl(height=525)
map_2.add_data(data=filtered_data, name='time_filtered_data')
map_2.config = config2
map_2

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [], 'layers': [{'id': 'mdhffdp', 'type': …

# Section 3 | Multi-Device Dataset Import, and Visualize

In [67]:
#Get Dataframoe to work on and obtain all the student name and the number of events observed by each one
allData = all_classData.copy(deep=True)
allData = allData.groupby(['name','uuid']).size().reset_index().rename(columns={0:'count'})
#display the results
allData

      name                                  uuid  count
0  Aelfric  801b9140-6179-4eae-b6db-fcbf5788ce0c  37877
1    Brida  bea8836d-3008-44a3-8c3c-53555f0a2dee  23744
2  Guthrum  22c07d36-5d29-4064-a3d7-f9019cd27cea  29529
3     Odda  66946627-b308-4b54-a147-5f4983197b73  17219
4   Ragnar  32bdb1af-fd87-4096-a683-63cd16a264d6  28598
5     Ubba  a266ab79-daf2-4375-a94e-5522a980e934  37561
6   Uhtred  e30234a8-a2f8-4bdd-b82e-3ac919eeec7a  25557

In [68]:
udid1 = 'bea8836d-3008-44a3-8c3c-53555f0a2dee'
udid2 = '32bdb1af-fd87-4096-a683-63cd16a264d6'

#make a local copy of the date to use for plotting
allData1 = all_classData.copy(deep=True)

#select the udid's we want to look at
allData1 = allData1[allData1['uuid'].isin([udid1,udid2])]
allData1['name'].unique()

array(['Ragnar', 'Brida'], dtype=object)

In [70]:
# plot the data
map_3 = KeplerGl(height=525)
map_3.add_data(data=allData1, name='two_devices')
map_3.config = config3
map_3

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [], 'layers': [{'id': '0ccvbn', 'type': '…

# Section 4 | Uber H3 HexBins - Associated Locations by Visit Geo [Where Who Where]

#### Geospatial indexing is essential for aggregating and querying data at scale. This type of data is generally abundant, difficult to index or search, and can be structurally complex. Polygons that discriminate particular areas can be very complex to handle. Think of a city’s boundaries. How many points do you need to efficiently determine if a given vehicle has entered a town or even a gas station? The more points you need, the more calculations you will require from your CPU. Overburdening your hardware translates to slower response times and higher resource usage.
#### An efficient geospatial indexing system helps you overcome these hurdles. In the case of H3, the solution takes the form of a hashing scheme.

#### The H3 algorithm partitions the Earth’s surface into a network of hexagons. You can select the amount of detail each hexagon contains by choosing among the available sixteen levels.

In [71]:
# display the resolution available for h3 indexing with hexagons
hexagon_table = h3_indexTable()
hexagon_table

,edge_length_km,perimeter_km,area_sqkm,edge_length_m,perimeter_m,area_sqm
0,1107.713,6646.276,4250546.848,1107712.591,6646275.546,4.250547e+12
1,418.676,2512.056,607220.978,418676.005,2512056.033,6.072210e+11
2,158.245,949.468,86745.854,158244.656,949467.935,8.674585e+10
3,59.811,358.865,12392.265,59810.858,358865.148,1.239226e+10
4,22.606,135.638,1770.324,22606.379,135638.276,1.770324e+09
5,8.544,51.266,252.903,8544.408,51266.450,2.529034e+08
6,3.229,19.377,36.129,3229.483,19376.897,3.612905e+07
7,1.221,7.324,5.161,1220.630,7323.779,5.161293e+06
8,0.461,2.768,0.737,461.355,2768.128,7.373276e+05
9,0.174,1.046,0.105,174.376,1046.254,1.053325e+05
10,0.066,0.395,0.015,65.908,395.447,1.504750e+04
11,0.025,0.149,0.002,24.911,149.463,2.149600e+03
12,0.009,0.056,0.000,9.416,56.493,3.071000e+02
13,0.004,0.021,0.000,3.560,21.359,4.390000e+01
14,0.001,0.008,0.000,1.349,8.091,6.300000e+00
15,0.001,0.003,0.000,0.510,3.058,9.000000e-01

### To put these areas into context see the below descriptions:
#### *Resolution 7: Roughly city-sized
#### *Resolution 8: Roughly neighborhood-sized
#### *Resolution 9: Roughly 2-4 city blocks in size (different cities have different block sizes)
#### *Resolution 10: Less than a city block in size
#### *Resolution 15: Coffee table-sized

### Now let's perform a fast co-location approach based upon more than one device in a H3 hexagon at res = 9

In [72]:
# Keep the resolution at 9; the higher the number, the more granular the hexbins become
resolution = 9
#this would meen any device that colocalates with any other device in a hexagon more than one time ( > 1 = 2 devices) 
colo_criteria = 1 

#perform the colocation analysis by h3 index binning
hex_colo = colocate_byH3(all_classData,resolution,colo_criteria)

#Display Partial Data Set  
hex_colo.loc[0:1,:]

,hexID,uuid,num_unique,activity_dates_of_UUIDs,lat,lon,geometry
0,892aa84d3a7ffff,22c07d36-5d29-4064-a3d7-f9019cd27cea,7,04/20/21,38.916472,-77.226884,"POLYGON ((38.91849 -77.22615, 38.91752 -77.228..."
1,892aa84d3a7ffff,22c07d36-5d29-4064-a3d7-f9019cd27cea,7,04/20/21,38.916475,-77.226873,"POLYGON ((38.91849 -77.22615, 38.91752 -77.228..."

In [73]:
# plot the data
hexagons = pd.DataFrame(hex_colo.hexID)
colo_devices = pd.DataFrame(hex_colo[['hexID','uuid','lat','lon','num_unique','activity_dates_of_UUIDs']])

map_4 = KeplerGl(height=525)
map_4.add_data(data=colo_devices, name='colo_devices')
map_4.add_data(data=hexagons, name='hex_res9')
map_4

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(data={'colo_devices': {'index': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19…

# Section 5 | Graphical Visualizatin Comparing UUIDs and SSIDs [Technological Proximity]

In [ ]:
Need a graph example for people being connected together in time and space